:root {
    --library-heading-recolor-label: #ffffff99;
    --library-heading-recolor-rule-left: #7e666633;
    --library-heading-recolor-rule-right: #ffffff00;
}

.appgrid_AppGridSectionLabel_2hvQb
{
    color: var(--library-heading-recolor-label);
}

.appgrid_Rule_3pJqX
{
    background: linear-gradient(to right, var(--library-heading-recolor-rule-left), var(--library-heading-recolor-rule-right)) !important;
}
