:root {
    --library-extra-info-left: unset;
    --library-extra-info-right: unset;
    --library-extra-info-top: unset;
    --library-extra-info-bottom: unset;
    --library-extra-info-focus-left: unset;
    --library-extra-info-focus-right: unset;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx {
    left: var(--library-extra-info-left);
    right: var(--library-extra-info-right);
    top: var(--library-extra-info-top);
    bottom: var(--library-extra-info-bottom);
    border-radius: var(--library-extra-info-radius-size);
    height: 20px;
    font-size: 12px;
    padding-top: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    position: absolute;
    transition: transform .1s cubic-bezier(0, 0.7, 0.8, 1);
    pointer-events: none;
    width: fit-content;
}

.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus .appportrait_LibraryItemBoxSubscript_1LJqx,
.BasicUI .appportrait_LibraryItemBox_WYgDg:hover .appportrait_LibraryItemBoxSubscript_1LJqx {
    z-index: 13;
    left: var(--library-extra-info-focus-left);
    right: var(--library-extra-info-focus-right);
}

.appgrid_YourCollection_11p6F {
    gap: 25px 16px !important;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt,
.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt,
.BasicUI .appportrait_LibraryItemBox_WYgDg:hover .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt {
    left: 10px;
    right: unset;
    top: unset;
    bottom: 3px;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt {
    padding: 0px;
    width: 0px;
    color: transparent;
    background-color: transparent !important;
    box-shadow: none;
}

.BasicUI .appportrait_LibraryItemBox_WYgDg.Focusable:focus .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt,
.BasicUI .appportrait_LibraryItemBox_WYgDg:hover .appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt {
    transform: translateX(-3px) translateY(5px);
}

.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCGreen_1KR40,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCOrange_1H3NR,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCRed_3lWVD {
    line-height: 16px !important;
}

.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCGreen_1KR40,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCOrange_1H3NR {
    color: #0e141b;
    text-shadow: none;
}