.BasicUI .appportrait_LibraryItemBox_WYgDg.gpfocus~.appportrait_LibraryItemBoxSubscript_1LJqx,
.BasicUI .appportrait_LibraryItemBox_WYgDg:hover~.appportrait_LibraryItemBoxSubscript_1LJqx
{
    z-index: 13;
}

.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx {
    margin-top: -2em;
    border-radius: var(--library-extra-info-radius-size);
    height: 20px;
    font-size: 12px;
    padding-top: 2px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.appportrait_LibraryItemBox_WYgDg.gpfocus~.appportrait_LibraryItemBoxSubscript_1LJqx,
.appportrait_LibraryItemBox_WYgDg:hover~.appportrait_LibraryItemBoxSubscript_1LJqx {
    transform: translateY(-1px) translateZ(15px);
    margin-left: 2px;
}

.appgrid_YourCollection_11p6F {
    gap: 25px 16px !important;
}

.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_ClassAllAchieved_31wTt
{
    padding: 0px;
    width: 0px;
    margin-left: 10px !important;
    color: transparent;
    background-color: transparent !important;
    box-shadow: none;
}

.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCGreen_1KR40,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCOrange_1H3NR,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCRed_3lWVD {
    line-height: 16px !important;
}

.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCGreen_1KR40,
.appportrait_LibraryItemBoxSubscript_1LJqx.appportrait_MCOrange_1H3NR {
    color: #0e141b;
    text-shadow: none;
}
