.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx {
    left: 5px;
    right: 5px;
}

.appportrait_LibraryItemBox_WYgDg.gpfocus~.appportrait_LibraryItemBoxSubscript_1LJqx,
.appportrait_LibraryItemBox_WYgDg:focus~.appportrait_LibraryItemBoxSubscript_1LJqx,
.appportrait_LibraryItemBox_WYgDg:hover~.appportrait_LibraryItemBoxSubscript_1LJqx {
    transform: translateY(4px);
}