.BasicUI .appportrait_LibraryItemBoxSubscript_1LJqx {
    left: 5px;
    right: 5px;
}

.appportrait_LibraryItemBox_WYgDg.Focusable:focus~.appportrait_LibraryItemBoxSubscript_1LJqx,
.appportrait_LibraryItemBox_WYgDg:hover~.appportrait_LibraryItemBoxSubscript_1LJqx {
    right: unset;
    transform: translateX(-2px) translateY(4px);
}