.gamepadhome_RecentSection_39tNv .basicgamecarousel_BasicGameCarousel_3MdH5 > .ReactVirtualized__Grid__innerScrollContainer
{
    height: var(--switch-like-size-main-height) !important;
    transform: translateY(75px);
}

.gamepadhome_RecentSection_39tNv .ReactVirtualized__Grid__innerScrollContainer > div
{
    height: var(--switch-like-size-main-height) !important;
    --game-id: attr(data-id);
}

.gamepadhome_RecentSection_39tNv .basicgamecarousel_BasicGameCarouselItem_3YYQ9
{
    height: var(--switch-like-size-main-height) !important;
}

.gamepadhome_RecentSection_39tNv .basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN, .basicgamecarousel_BasicGameCarouselItemMediaContainer_1HIFN > div
{
    height: var(--switch-like-size-sub-height) !important;
}

.gamepadhome_RecentSection_39tNv .appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ
{
    padding-top: var(--switch-like-size-sub-height) !important;
}

.gamepadhome_RecentSection_39tNv .appportrait_FeaturedCapsule_xp7A-
{
    overflow-y: hidden !important;
}

.gamepadhome_RecentSection_39tNv .appportrait_PortraitImage_2IYf7.appportrait_Capsule_13w3S.appportrait_CapsuleVisible_3QIfJ img, .appportrait_FeaturedCapsule_xp7A- img
{
    object-fit: cover !important;
    object-position: top;
}